<!DOCTYPE html>
<html>
<head>
  <title>Gunner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    !function(a,b,c,d,e,f,g){a.RaygunObject=e,a[e]=a[e]||function(){
    (a[e].o=a[e].o||[]).push(arguments)},f=b.createElement(c),g=b.getElementsByTagName(c)[0],
    f.async=1,f.src=d,g.parentNode.insertBefore(f,g)}(window,document,"script","//cdn.raygun.io/raygun4js/raygun.min.js","rg4js");

    rg4js('apiKey', 'APP_API_KEY');
    rg4js('enablePulse', true);
    rg4js('enableCrashReporting', false);
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
